
* {
  background-color: hsl(48, 100%, 93%);
}

body {
  font-family: 'Roboto', sans-serif;
}

h2 {
  color: cadetblue;
  text-decoration: wavy;
  text-align: center;
}

td[id*="CSE"]{
  color: aqua
}

.image {
  border-style: dashed;
  border-color:#8a2be2;
  border-width: 10px;
  border-radius: 1;
}

.link:hover{
  color:rgb(0, 255, 255);
}

.link:active {
  color:chocolate;
}


@media only screen and (max-width: 600px) {
  #dissapearing_button {
    display: none;
  }
}
