
* {
  background-color: hsl(48, 100%, 93%);
}

body {
  font-family: 'Roboto', sans-serif;
}

td[id*="CSE"]{
  color: aqua
}

/* Selector List */
h1, h2, h3 {
  color: cadetblue;
  text-decoration: wavy;
  text-align: center;
}

/* Descendant Combinator */
ul li {
  color:darkblue
}

/* Child Combinator */
table > caption {
  background-color: darkorange;
}

/*Adjacent sibling combinator */
img ~ figcaption {
  background-color: goldenrod;
}

footer{
  position: fixed;
  bottom: 1%;
  left: 50%;
}

div.radio_form{
  height:150px;
  width: 200px;
}

.projects {
  margin-top:10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.like_list {
  margin: 10px 10px 10px 10px;
}

.video{
  margin: auto;
}

.pic{
  min-width: 15%;
  max-width: 50%;
  position: static;
}

.image {
  border-style: dashed;
  border-color:#8a2be2;
  border-width: 10px;
  border-radius: 1px;
}

.link:hover{
  color:rgb(0, 255, 255);
}

.link:active {
  color:chocolate;
}


@media only screen and (max-width: 600px) {
  #dissapearing_button {
    display: none;
  }
}
