
* {
  background-color: hsl(48, 100%, 93%);
}

body {
  font-family: 'Roboto', sans-serif;
}

td[id*="CSE"]{
  color: aqua
}

/* Selector List */
h1, h2, h3 {
  color: cadetblue;
  text-decoration: wavy;
  text-align: center;
}

/* Descendant Combinator */
ul li {
  color:darkblue
}

/* Child Combinator */
table > caption {
  background-color: darkorange;
}

/*Adjacent sibling combinator */
img ~ figcaption {
  background-color: goldenrod;
}

div.radio_form{
  height:150px;
  width: 200px;
}

.image {
  border-style: dashed;
  border-color:#8a2be2;
  border-width: 10px;
  border-radius: 1;
}

.link:hover{
  color:rgb(0, 255, 255);
}

.link:active {
  color:chocolate;
}


@media only screen and (max-width: 600px) {
  #dissapearing_button {
    display: none;
  }
}
